---
name: CI

on:
  push:
    tags:
      - v*
  pull_request:
    branches:
      - main

permissions:
  actions: write
  contents: write
  packages: write
  pull-requests: write

jobs:
  build:
    name: Build and Test
    uses: neticdk/shared-github-actions/.github/workflows/go-ci.yaml@135fdfb90748155200347f499304cd65c3d3f04b # v0.3.1
    with:
      go-private: "github.com/containdk"
      run-benchmarks: true
      run-release-test: false
    secrets:
      gh_username: "ic-robot"
      gh_token: ${{ secrets.CONTAIN_BOT_PAT }}

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Create release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true

  distribute:
    uses: ./.github/workflows/cd.yaml
    if: startsWith(github.ref, 'refs/tags/')
    needs: release
    secrets: inherit
